@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 500;
  --bolder-font: 700;

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --navybluemodal: #2e2f42;
  --white: #ffffff;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --lightslate: #8E8F99;

  --line-height: 1.5;
  --transition: 0.3s ease-in;

  --header-font-family: 'Roboto', sans-serif;
  --logo-font-family: Raleway, sans-serif;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*transition: var(--transition);*/
}

body {
  font-family: var(--header-font-family);
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--slate);
  background-color: var(--white);
}

address {
  font-style: normal;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/*basic style*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: var(--white);
  padding: 0px 156px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.blocks-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.blocks-wrapper nav {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-weight: var(--bold-font);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
}

.logo,
footer .logo {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: var(--bolder-font);
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 76px;
}

.studio {
  color: var(--navyblue);
}

.logo:hover,
footer a:hover {
  text-decoration: none;
}

.navigavion-menu {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
  gap: 40px;
}

.blocks-wrapper address ul {
  display: flex;
  gap: 40px;
}

.first-main-link,
.addrs .addrs-mail a {
  position: relative;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigavion-menu a:hover,
.addrs-mail a:hover,
.navigavion-menu a:focus,
.addrs-mail a:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-link a::after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 0;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--ocean);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.navigavion-menu a:hover::after {
  transform: scaleX(0);
}

.main-link:first-child a::after {
  transform: scaleX(1);
}

.mainLink:focus,
.main-link:first-child a {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*nav*/

.addrs {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  align-self: auto;
}

/*address*/

/*main*/
.solution,
.parts,
.team,
.portfolio,
footer {
  padding: 100px 0;
}

.solution {
  background: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office-1-main-bg.jpg) no-repeat center / cover;
  text-align: center;
  color: var(--white);
  padding: 188px 0;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.solution h1 {
  text-transform: capitalize;
  font-size: 56px;
  font-weight: var(--bolder-font);
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto 48px;
}

.solution button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  background: #4d5ae5;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  transition: background-color 0.3s ease-out;
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution button:hover,
.solution button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*solution*/

.parts {
  padding-top: 120px;
  padding-bottom: 120px;
}

.parts ul,
.team ul,
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team h2,
.portfolio h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: var(--bolder-font);
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  line-height: 1.11;
  color: #2e2f42;
}

.parts .block {
  width: calc((100% - 72px) / 4);
}

.parts .block h3 {
  color: #2e2f42;
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--bold-font);
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.parts .block p {
  letter-spacing: 0.32px;
}

.parts ul li>div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  background: var(--cloud);
  margin-bottom: 8px;
}

/*parts*/
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--cloud);
}

.team h2,
.portfolio h2 {
  display: block;
  color: #2e2f42;
  margin-bottom: 72px;
}

.persons .person {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.person-title-block {
  padding: 32px 0;
}

.person h3 {
  font-size: 20px;
  font-weight: var(--bold-font);
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  color: #2e2f42;
}

.person p,
main .portfolio .work p {
  letter-spacing: 0.32px;
  margin-bottom: 20px;
}

.person-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.person-social li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.link-social-b {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-b:hover,
.link-social-b:focus {
  background-color: #404bbf;
}

.link-social-b svg {
  fill: var(--cloud);
}

/*team*/
/*portfolio*/

.portfolio ul {
  row-gap: 48px;
}

.portfolio ul li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio ul li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio ul li:hover div:first-child p {
  transform: translateY(0%);
}

.work .image-wrapper:first-child p {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
}

.work .image-wrapper:first-child {
  position: relative;
  overflow: hidden;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .work {
  border: 1px solid var(--cornflower);
  background: var(--white);
}

.work .work-title-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.work h3 {
  font-size: 20px;
  font-weight: var(--bold-font);
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2e2f42;
  margin-bottom: 8px;
}

/*portfolio*/
/*footer*/
footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--navyblue);
}

.wrapper-f {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 60px;
}

.wrapper-f>.wrapper {
  margin-right: 40px;
}

.wrapper-f>.wrapper .logo span {
  color: #f4f4fd;
}

.wrapper-f>.wrapper .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.wrapper-f>.wrapper p {
  max-width: 264px;
  color: var(--cloud);
  letter-spacing: 0.32px;
}

.wrapper-f>.social p,
.wrapper-f>.subscribe p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.wrapper-f>.social ul {
  display: flex;
  gap: 16px;
}

.wrapper-f>.social ul li {
  width: 40px;
  height: 40px;
}

.wrapper-f>.social ul li a {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-f>.social ul li a:hover,
.wrapper-f>.social ul li a:focus {
  background-color: #31d0aa;
}

.wrapper-f>.social ul li a .icon {
  fill: var(--cloud);
}

.wrapper-f>.subscribe form {
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-f>.subscribe input {
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 8px 16px;
  color: var(--white);
  font-size: 12px;
  font-weight: var(--normal-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding-left: 16px;
}

.wrapper-f>.subscribe input::placeholder {
  color: #ffffff;
}

.wrapper-f>.subscribe button {
  border-radius: 4px;
  background: var(--iris);
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 0;
  outline: 0;
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
}

.subscribe button svg {
  margin-left: 16px;
}

/*footer*/

/*order-popup*/
.order-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-popup>.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 584px;
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-popup .close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-popup .close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}

.order-popup .close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}

.order-popup .close .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.order-popup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--grey);
  margin-bottom: 16px;
}

.order-form>.input-container-block {
  margin-bottom: 8px;
}

.input-container-block .form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.input-container-block .input-container {
  position: relative;
}

.input-container>.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-container>.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: #4D5AE5;
}

.input-field:focus+.icon {
  fill: #4D5AE5;

}

.order-form :nth-child(4) {
  margin-bottom: 16px;
}

.input-container-block>.textarea-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus {
  border-color: #4D5AE5;
}

.order-form .terms-block {
  margin-bottom: 24px;
}

.terms-block .user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  /*display: inline-flex;
  align-items: center;
  gap: 6px;*/
}

.user-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.terms-block>.form-label:checked+.user-privacy span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.user-privacy-link,
.user-privacy-link:hover {
  color: var(--iris);
  text-decoration: underline;
}

.order-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  margin: auto;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-button:hover {
  background: var(--ocean);
}

/*order-popup*/