@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 500;
  --bolder-font: 700;

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --navybluemodal: #2e2f42;
  --white: #ffffff;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --grey: #2e2f42;
  --dairy: #fcfcfc;

  --line-height: 1.5;
  --transition: 0.3s ease-in;

  --header-font-family: 'Roboto', sans-serif;
  --logo-font-family: Raleway, sans-serif;
}
/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*transition: var(--transition);*/
}

body {
  font-family: var(--header-font-family);
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--slate);
  background-color: var(--white);
}

address {
  font-style: normal;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/*basic style*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: var(--white);
  padding: 0 156px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header > .blocks-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: baseline;
  align-items: baseline;
}
header > .blocks-wrapper nav {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-weight: var(--bold-font);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
}
header > .blocks-wrapper nav > .logo,
footer .logo {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: var(--bolder-font);
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 76px;
}
header > .blocks-wrapper nav > .logo .studio {
  color: var(--navyblue);
}
header > .blocks-wrapper nav > a:hover,
footer a:hover {
  text-decoration: none;
}
header > .blocks-wrapper nav ul {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
  gap: 40px;
}
header > .blocks-wrapper address ul {
  display: flex;
  gap: 40px;
}

header > .blocks-wrapper nav ul li a,
header > .blocks-wrapper address ul li a {
  position: relative;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 24px 0;
  display: inline-block;
  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header > .blocks-wrapper nav ul li a:hover,
header > address ul li a:hover,
header > .blocks-wrapper nav ul li a:focus,
header > address ul li a:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header > .blocks-wrapper nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}
header > .blocks-wrapper nav ul li a:hover::after {
  transform: scaleX(1);
}

header > .blocks-wrapper nav ul li > .mainLink:focus {
  color: #404bbf;
}
/*nav*/

header > address {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  align-self: auto;
}
/*address*/

/*main*/
main .solution,
main .parts,
main .team,
main .portfolio,
footer {
  padding: 100px 0;
}
main .solution {
  background: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1-main-bg.jpg) no-repeat center / cover;
  text-align: center;
  color: var(--white);
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .solution h1 {
  text-transform: capitalize;
  font-size: 56px;
  font-weight: var(--bolder-font);
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto 48px;
}
main .solution button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  background: #4d5ae5;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  transition: background-color 0.3s ease-out;
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
main .solution button:hover,
main .solution button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/*solution*/

main .parts {
  padding-top: 120px;
  padding-bottom: 120px;
}
main .parts ul,
main .team ul,
main .portfolio ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
}
main .team h2,
main .portfolio h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: var(--bolder-font);
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  line-height: 1.11;
  color: #2e2f42;
}

main .parts .block,
main .team .person,
main .portfolio .work {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
main .parts .block {
  width: calc((100% - 72px) / 4);
}
main .team .person {
  /*width: calc((100% - 72px) / 4);*/
}

main .parts .block h3 {
  color: #2e2f42;
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--bold-font);
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
main .parts .block p {
  letter-spacing: 0.32px;
}
main .parts ul li > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--light-slate);
}
/*parts*/
main .team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--cloud);
}
main .team h2,
main .portfolio h2 {
  display: block;
  color: #2e2f42;
  margin-bottom: 72px;
}
main .team ul li {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
main .team ul li .person-title-block {
  padding: 32px 0;
}
main .team ul li img,
main .portfolio img {
  object-fit: inherit;
  width: 100%;
}
main .team ul li h3 {
  font-size: 20px;
  font-weight: var(--bold-font);
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  color: #2e2f42;
}
main .team ul li p,
main .portfolio .work p {
  letter-spacing: 0.32px;
}
main .team ul li p {
  margin-bottom: 20px;
}
main .team ul li > div ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
main .team ul li > div ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .team ul li > div ul li > a {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
main .team ul li > div ul li a:hover,
main .team ul li > div ul li a:focus {
  background-color: #404bbf;
}
main .team ul li > div ul li a svg {
  fill: var(--cloud);
}
/*team*/
/*portfolio*/

main .team ul,
main .portfolio ul {
  flex-wrap: wrap;
}
main .portfolio ul {
  row-gap: 48px;
}
main .portfolio ul li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
main .portfolio ul li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
main .portfolio ul li:hover div:first-child p {
  transform: translateY(0%);
}
main .portfolio ul li div:first-child p {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
}
main .portfolio ul li div:first-child {
  position: relative;
  overflow: hidden;
}

main .portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
main .portfolio .work {
  border: 1px solid var(--cornflower);
  background: var(--white);
}
main .portfolio .work .work-title-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
main .portfolio .work:nth-child(n) {
  margin-bottom: 48px;
}
main .portfolio .work h3 {
  font-size: 20px;
  font-weight: var(--bold-font);
  line-height: 24px;
  letter-spacing: 0.4px;
  padding: 0 16px;
  color: #2e2f42;
  margin-bottom: 8px;
}
main .portfolio .work p {
  padding: 0 16px;
}
/*portfolio*/
/*footer*/
footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--navyblue);
}
footer .wrapper-f {
  display: flex;
  align-items: baseline;
}
footer .wrapper-f > .wrapper {
  margin-right: 120px;
}
footer .wrapper-f > .wrapper .logo span {
  color: #f4f4fd;
}
footer .wrapper-f > .wrapper .logo {
  display: inline-block;
  margin-bottom: 16px;
}
footer .wrapper-f > .wrapper p {
  max-width: 264px;
  color: var(--cloud);
  letter-spacing: 0.32px;
}
footer .wrapper-f > .social p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
footer .wrapper-f > .social ul {
  display: flex;
  gap: 16px;
}
footer .wrapper-f > .social ul li {
  width: 40px;
  height: 40px;
}
footer .wrapper-f > .social ul li a {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .wrapper-f > .social ul li a:hover,
footer .wrapper-f > .social ul li a:focus {
  background-color: #31d0aa;
}
footer .wrapper-f > .social ul li a svg {
  fill: var(--cloud);
}
footer .wrapper-f > .social ul li a svg use {
  scale: 140%;
}
/*footer*/
